*.o
*.so
.*
*tags*
*.d
*.s
*.dump
*.dot
doc/
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
src/Makefile
src/Makefile.in
src/autoscan-2.69.log
stamp-h1
